@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family = Noto + Serif: ital @ 1 & display = swap");
html {
  scroll-behavior: smooth; }

/*Menu de navegación*/
.nav-link :hover {
  color: #6d0000;
  transition-duration: 1s; }

header {
  font-weight: bold; }

/* Carrusel*/
#carouselExampleIndicators {
  width: 90%;
  height: 90%;
  margin-top: 10px; }

/*Texto*/
h1 {
  padding-bottom: 10px;
  text-align: center; }

h2, h3 {
  text-align: center;
  font-size: 30px; }

p {
  text-align: center;
  font-size: 22px;
  line-height: 40px; }

/*Tarjetas*/
#ir-a-astrologiavedica, #ir-a-tarot, #ir-a-palmistry, #ir-a-cursos, #ir-a-astroterapia, #ir-a-sobremi {
  margin-bottom: 70px;
  padding-top: 100px; }

/*Accordion*/
#accordionExample {
  background-color: #6d0000; }

/*Contacto*/
.formulario-contacto {
  margin-bottom: 70px;
  padding-top: 100px; }

.btn {
  background-color: #6d0000;
  color: white;
  margin-top: 10px; }
