@import url('https://fonts.googleapis.com/css2? family = Noto + Serif: ital @ 1 & display = swap');

html {
    scroll-behavior: smooth;
}
  
#logo {
    height: 70px;
}
  

  
/*Menu de navegación*/

  

  
.nav-item :hover{
    color: rgb(109, 0, 0);
    transition-duration: 1s;  
}
    

header{
    font-weight: bold;
    
}

  /* Carousel*/
  


#carouselExampleIndicators {
    width: 90%;
    height:90%;
    margin-top: 10px;
    margin-left:4rem;
}

/*Texto*/
h1 {
    padding-bottom: 10px;
    text-align: center;
    
}
  
h2, h3 {
    text-align: center;
    font-size: 30px;
}
  
p {
    text-align: center;
    font-size: 18px;
}
  
/*Tarjetas*/
#ir-a-astrologiavedica,#ir-a-tarot,#ir-a-palmistry,#ir-a-cursos,#ir-a-astroterapia,#ir-a-sobremi{
    margin-bottom: 70px;
	padding-top: 100px;
}

/*Accordion*/
#accordionExample{
    background-color: rgb(109, 0, 0);
    
}

/*Contacto*/

.formulario-contacto {
	margin-bottom: 70px;
	padding-top: 100px;
    
    
}


.btn {
    background-color: rgb(109, 0, 0);
    color: white;
    margin-top: 10px;
  }



